---
import { valorAPesosChilenos, type Producto } from "../../assets/exports";
import Calificacion from "./Calificacion.astro";
interface Props {
    producto: Producto;
    compact?: boolean;
}
const { producto, compact } = Astro.props
const { imageSrc, productName, category, description, price, stars, id, color } = producto;


---
<div class={`${compact ? 'w-[70%] md:w-[40%]' : ''} p-5 rounded-md border border-bg-200 group shadow`}>

    <div class="">
        <div class="w-50 aspect-square overflow-hidden mx-auto">
            <a href={`/${id}/product`}>
            <img
                src={imageSrc}
                alt={`Imagen de ${productName}`}
                class="object-cover w-full h-full transition-transform duration-300 group-hover:scale-105"
                style="-webkit-mask-image: radial-gradient(circle at center, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%); mask-image: radial-gradient(circle at center, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);"
                transition:name={`productImage${id}`}
            />
            
            </a>
        </div>
    </div>
    <div class="flex flex-col text-text-100 py-3">
        <a class="text-xl lg:text-2xl font-semibold truncate" transition:name={`productName${id}`} href={`/${id}/product`}>{productName}</a>
        <p class="text-accent-100 text-sm lg:text-lg -mt-1.5">{category}</p>
        <p class="text-current/70 italic mt-1 truncate lg:text-lg" >{description}</p>
        <p class={`text-xl lg:text-2xl font-black mt-2 bg-bg-300/70 w-min py-1 px-2 rounded-lg shadow`}
        transition:name={`productPrice${id}`}
        >{valorAPesosChilenos(price)}</p>
    </div>
    <div class="flex justify-between items-center">
        <Calificacion estrellas={stars ?? 0} compact={compact} />
        <button class={`rounded-md py-1 px-2 shadow-md hover:shadow-lg hover:cursor-pointer hover:border hover:border-deep-green-500 border border-text-100 hover:scale-110 transition-all active:scale-90 bg-primary-200 text-bg-100 lg:text-xl xl:text-2xl ${compact ? '' : 'text-lg'}`} id="btnAdd"
        
        >
            {compact ? 'Agregar' : 'Agregar al carro'}
        </button> 
    </div>
    
</div>