---
import { listaProductos, valorAPesosChilenos } from "../../assets/exports";
import Calificacion from "../../components/store/Calificacion.astro";
import Vitrina from "../../components/store/Vitrina.astro";
import Layout from "../../layouts/Layout.astro";

export const prerender = false;
const { id } = Astro.params;
const producto = listaProductos.find(p => p.id.toString() === id);
if (!producto) {
    return Astro.redirect('/404');
}
---

<Layout title={producto.productName}>
    <section class="text-center container mx-auto ">
        <h2 class="text-3xl md:text-4xl font-bold" transition:name={`productName${id}`}>{producto.productName}</h2>
        <img src={producto.imageSrc} alt={`Imagen de ${producto.productName}`} class="w-64 h-64 object-cover mx-auto mt-4 rounded-md shadow-lg" transition:name={`productImage${id}`} />
        <div class="flex justify-end  w-5/6">
            <Calificacion estrellas={producto.stars} />
        </div>
        <div class="mt-4 bg-bg-200/20 p-4 text-left sm:text-lg md:text-xl rounded-md shadow whitespace-pre-wrap">
            <p class="mx-auto max-w-[600px]">{producto.description}</p>
        </div>
        <div>
            <p class="mt-4 text-2xl sm:text-3xl font-semibold"
            transition:name={`productPrice${id}`}
            >Valor: {valorAPesosChilenos(producto.price)}</p>
        </div>
        <div class="text-left mt-4 p-4">
            <p class="italic text-text-200 sm:text-lg">Stock disponible</p>
            <div class="flex justify-evenly items-center mt-3">
    <select name="cantidad" id="cantidad" class="border border-bg-300 rounded-md p-2 shadow-md hover:shadow-lg sm:text-xl md:text-2xl">
        {Array.from({ length: producto.stock >= 10 ? 10 : producto.stock }, (_, i) => i + 1).map(cantidad => (
            <option value={cantidad} >{cantidad} u.</option>
        ))}
    </select>
    <p id="valorPorCantidad" class="sm:text-lg md:text-xl">Total: <span id="valorSpan" class="text-lg sm:text-xl md:text-2xl font-black">{valorAPesosChilenos(producto.price)}</span></p>
</div>
        </div>
        <div>
            <button class="mt-4 bg-primary-200 hover:bg-primary-200/90 border border-primary-200 text-bg-100 py-2 sm:py-3 md:py-5 px-4 rounded-md shadow hover:shadow-lg active:scale-95 w-full text-xl sm:text-2xl font-bold"
            
            >
                Agregar al carro
            </button>
        </div>
        <div>
            <Vitrina filterId={id} horizontal compact/>
        </div>
    </section>
</Layout>
<script define:vars={{price: producto.price}}>
    function valorAPesosChilenos(valor) {
        return new Intl.NumberFormat('es-CL', { style: 'currency', currency: 'CLP' }).format(valor)
    }
    const selectCantidad = document.getElementById('cantidad');
    const valorSpan = document.getElementById('valorSpan');
    const precioUnitario = price;
    selectCantidad?.addEventListener('change', () => {
        const cantidadSeleccionada = parseInt(selectCantidad.value);
        const valorTotal = precioUnitario * cantidadSeleccionada;
        valorSpan.textContent = `${valorAPesosChilenos(valorTotal)}`;
    });
    
</script>